#!/usr/bin/env bash

#{{ ansible_managed }}

# find latest backup file
unset -v latest_backup
for file in $(find {{ backup_path }} -type f -name "*{{ backup_identifier }}.tgz")
do
  [[ $file -nt $latest_backup ]] && latest_backup=$file
done

# stop services
systemctl stop openvpn@server

# restore file backup
tar xvzf $latest_backup -C /

# start services
systemctl start openvpn@server
