#cloud-config
packages:
  - aptitude
  - python-minimal
  - python-apt
  - python-pip
  - python3-pip
  - nfs-common
package_update: true
package_upgrade: true
package_reboot_if_required: true
disable_root: true
users:
  - default
system_info:
  distro: ubuntu
  default_user:
    name: {{ ssh_user }}
    passwd: {{ ssh_pass }}
    groups: sudo,admin
    lock_passwd: false
    system: false
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ssh_key }}
apt:
  disable_suites:
    - backports
  primary:
    - arches:
        - amd64
{% if ubuntu_mirror_host is defined and ubuntu_mirror_host != '' %}
      uri: http://{{ ubuntu_mirror_host }}/ubuntu/
  disable_suites:
    - backports
{% endif %}
runcmd:
  - [ sh, -c, "echo 127.0.1.1 {{ fqdn }} {{ fqdn | split_with('.') | first }} >> /etc/hosts" ] 
  - [ sh, -c, "echo 'ARRAY <ignore> devices=/dev/sda' >> /etc/mdadm/mdadm.conf" ]
