#cloud-config
packages:
  - python
  - python3
  - nfs-utils
  - python-pip
  - python3-pip
{% if epel_mirror_host is not defined or epel_mirror_host == '' %}
  - epel-release
{% endif %}
package_update: false
package_upgrade: false
package_reboot_if_required: true
disable_root: true
users:
  - default
system_info:
  distro: centos
  default_user:
    name: {{ ssh_user }}
    passwd: {{ ssh_pass }}
    groups: sudo,admin
    lock_passwd: false
    system: false
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ssh_key }}
{% if (yum_mirror_host is defined and yum_mirror_host != '') or (epel_mirror_host is defined and epel_mirror_host != '') %}
write_files:
{% endif %}
{% if yum_mirror_host is defined and yum_mirror_host != '' %}
  - path: /etc/yum.repos.d/CentOS-Base.repo
    owner: root:root
    permissions: '0444'
    content: |
      # installed by cloud-init
      [base]
      name=CentOS-$releasever - Base
      baseurl=http://{{ yum_mirror_host }}/centos/$releasever/os/$basearch/
      gpgcheck=1
      gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
      #released updates 
      [updates]
      name=CentOS-$releasever - Updates
      baseurl=http://{{ yum_mirror_host }}/centos/$releasever/updates/$basearch/
      gpgcheck=1
      gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
      #additional packages that may be useful
      [extras]
      name=CentOS-$releasever - Extras
      baseurl=http://{{ yum_mirror_host }}/centos/$releasever/extras/$basearch/
      gpgcheck=1
      gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
{% endif %}
{% if epel_mirror_host is defined and epel_mirror_host != '' %}
  - path: /etc/yum.repos.d/epel.repo
    owner: root:root
    permissions: '0444'
    content: |
      # installed by cloud-init
      [epel]
      name=Extra Packages for Enterprise Linux $releasever - $basearch
      baseurl=http://{{ epel_mirror_host }}/epel/$releasever/$basearch
      failovermethod=priority
      enabled=1
      gpgcheck=1
      gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-$releasever
{% endif %}
bootcmd:
  - sed -ie '/locale/d' /etc/cloud/cloud.cfg
runcmd:
  - [ sh, -c, "sed -ie 's/^SELINUX=.*/SELINUX=disabled/g' /etc/selinux/config" ] 
power_state:
  mode: reboot
