[submodule "kubernetes/kubespray"]
	path = kubernetes/kubespray
	url = https://github.com/kubernetes-incubator/kubespray.git
[submodule "kubernetes/rook"]
	path = kubernetes/rook
	url = https://github.com/rook/rook.git
