---
language: python

sudo: required

dist: xenial

python: "3.7"

install:
  - sudo apt-get install -y git jq libvirt0 libvirt-dev
  - pip install -r requirements.txt
  - git clone https://github.com/basherpm/basher.git ~/.basher
  - export PATH="$HOME/.basher/bin:$PATH"
  - eval "$(basher init -)"
  - basher install nephelaiio/basher-awx

stages:
  - test
  - deploy

jobs:
  include:
    - script:
        - yamllint ./ -c ./.yamllint
        - flake8 ./
      stage: test
    - script:
        - awx-update-projects --host $AWX_URL --user $AWX_USER --pass $AWX_PASS --repo https://github.com/$TRAVIS_REPO_SLUG.git --debug
        - awx-run-templates --host $AWX_URL --user $AWX_USER --pass $AWX_PASS --repo https://github.com/$TRAVIS_REPO_SLUG.git site
      stage:
        deploy

branches:
  only:
    - master
