extends: default

ignore: |
  galaxy/
  resources/
  submodules/
  plugins/
  **/vault.yml
  **/vault/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy: disable
