[defaults]
roles_path = ./galaxy:./roles:./submodules/freeipa/roles
library = ./library:kubespray/library
inventory = ./inventory/home/
host_key_checking = False
allow_world_readable_tmpfiles = True
retry_files_enabled = False
strategy_plugins = ./submodules/mitogen/ansible_mitogen/plugins/strategy
strategy = mitogen_linear

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, constructed

[ssh_connection]
control_path = %(directory)s/%%h-%%p-%%r
