[defaults]
roles_path = ./roles:./roles/ovirt.infra/roles:./roles/gluster.cluster/roles
library = ./library:kubespray/library
filter_plugins = ./filter_plugins
inventory = ./inventory/home/
host_key_checking = False
retry_files_enabled = False
nocows = True
pipelining = True

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, constructed

[ssh_connection]
control_path = %(directory)s/%%h-%%p-%%r
