#!/usr/bin/env bash

# {{ ansible_managed }}

influxd backup -portable {{ backup_path}}/{{ backup_identifier }}.$(date +%Y%m%d)
find {{ backup_path }} -maxdepth 1 -name "{{ backup_identifier }}.*" -type d -mtime +{{ retention_days }} -exec rm -r {} \;
