DELETE FROM records where TRUE;
DELETE FROM domains where TRUE;

{% for domain in domains %}
SET @name = '{{ domain.name }}',
  @content = '{{ inventory_hostname }} {{ domain.hostmaster }} {{ domain.serial | default(0) }} {{ domain.refresh | default(3600) }} {{ domain.retry | default(600) }} {{ domain.expire | default(10800) }} {{ domain.ttl | default(600) }}',
  @type = 'SOA',
  @ttl = {{ domain.ttl | default(600) }};
INSERT IGNORE INTO domains(name, type)
  VALUES(@name, @type);
  SELECT id INTO @id FROM domains WHERE name like @name;
INSERT INTO records(domain_id, name, content, type, ttl)
  VALUES(@id, @name, @content, @type, @ttl);
{% endfor %}

{% for domain in domains %}
{%   for ns in domain.ns %}
SET @name = '{{ domain.name }}',
  @content = '{{ ns }}',
  @type = 'NS',
  @ttl = {{ ns_ttl | default(3600) }}; 
SELECT id INTO @id FROM domains
  WHERE name like '{{ domain.name }}';
INSERT INTO records(domain_id, name, content, type, ttl)
  VALUES(@id, @name, @content, @type, @ttl);
{%   endfor %}
{% endfor %}

{% for domain in domains %}
{%   for mx in domain.mx %}
SET @name = '{{ domain.name }}',
  @content = '{{ mx }}',
  @type = 'MX',
  @ttl = {{ mx_ttl | default(3600) }},
  @prio = {{ mx_priority | default(10) }}; 
SELECT id INTO @id FROM domains
  WHERE name like '{{ domain.name }}';
INSERT INTO records(domain_id, name, content, type, ttl, prio)
  VALUES(@id, @name, @content, @type, @ttl, @prio);
{%   endfor %}
{% endfor %}

{% for domain in domains %}
{%   for record in domain.records %}
SET @name = '{{ record.host }}',
    @content = '{{ record['ip-address'] }}',
    @type = '{{ record.type | default('A') }}',
    @ttl = {{ record.ttl | default(3600) }}; 
SELECT id INTO @id FROM domains
  WHERE name like '{{ domain.name }}';
INSERT INTO records(domain_id, name, content, type, ttl)
  VALUES(@id, @name, @content, @type, @ttl);
{%   endfor %}

{%   for cname in domain.cnames %}
SET @name = '{{ cname.0 }}',
    @content = '{{ cname.1 }}',
    @type = 'CNAME',
    @ttl = 3600; 
SELECT id INTO @id FROM domains
  WHERE name like '{{ domain.name }}';
INSERT INTO records(domain_id, name, content, type, ttl)
  VALUES(@id, @name, @content, @type, @ttl);
{%   endfor %}
{% endfor %}
