{% for domain in domains %}
SET @name = '{{ domain.name }}',
  @content = '{{ ansible_hostname }} {{ domain.hostmaster }} {{ domain.serial | default(0) }} {{ domain.refresh | default(3600) }} {{ domain.retry | default(600) }} {{ domain.expire | default(10800) }} {{ domain.ttl | default(600) }}',
  @type = 'SOA',
  @ttl = {{ domain.ttl | default(600) }};
INSERT IGNORE INTO domains(name, type)
  VALUES(@name, @type);
  SELECT id INTO @id FROM domains WHERE name like @name;
  DELETE FROM records
  WHERE domain_id = @id AND type = @type AND name = @name;
  INSERT INTO records(domain_id, name, content, type, ttl)
  VALUES(@id, @name, @content, @type, @ttl);
{% endfor %}

{% for domain in domains %}
{%   for ns in domain.ns %}
SET @name = '{{ domain.name }}',
  @content = '{{ ns.name }}',
  @type = 'NS',
  @ttl = {{ ns.ttl | default(3600) }}; 
SELECT id INTO @id FROM domains
WHERE name like '{{ domain.name }}';
DELETE FROM records
WHERE domain_id = @id AND type = @type AND name = @name;
INSERT INTO records(domain_id, name, content, type, ttl)
VALUES(@id, @name, @content, @type, @ttl);
{%   endfor %}
{% endfor %}

{% for domain in domains %}
{%   for mx in domain.mx %}
SET @name = '{{ domain.name }}',
  @content = '{{ mx.name }}',
  @type = 'MX',
  @ttl = {{ mx.ttl | default(3600) }},
  @prio = {{ mx.priority | default(10) }}; 
SELECT id INTO @id FROM domains
WHERE name like '{{ domain.name }}';
DELETE FROM records
WHERE domain_id = @id AND type = @type AND name = @name;
INSERT INTO records(domain_id, name, content, type, ttl, prio)
VALUES(@id, @name, @content, @type, @ttl, @prio);
{%   endfor %}
{% endfor %}

{% for domain in domains %}
{%   for record in domain.records %}
SET @name = '{{ record.host }}',
    @content = '{{ record['ip-address'] }}',
    @type = '{{ record.type | default('A') }}',
    @ttl = {{ record.ttl | default(3600) }}; 
SELECT id INTO @id FROM domains
  WHERE name like '{{ domain.name }}';
DELETE FROM records
  WHERE domain_id = @id AND type = @type AND name = @name;
INSERT INTO records(domain_id, name, content, type, ttl)
  VALUES(@id, @name, @content, @type, @ttl);
{%   endfor %}

{%   for cname in domain.cnames %}
SET @name = '{{ cname }}',
    @content = '{{ domain.cnames[cname] }}',
    @type = 'CNAME',
    @ttl = 3600; 
SELECT id INTO @id FROM domains
  WHERE name like '{{ domain.name }}';
DELETE FROM records
  WHERE domain_id = @id AND type = @type AND name = @name;
INSERT INTO records(domain_id, name, content, type, ttl)
  VALUES(@id, @name, @content, @type, @ttl);
{%   endfor %}
{% endfor %}
