#cloud-config
package_update: true
package_upgrade: true
package_reboot_if_required: true
users:
  - name: {{ ssh_user }}
    passwd: $6$FLtrHwDCFhzzNmDd$JZPl0qz0ksLPOf/oz3IJylAbt4JhOPC6J1zJ72ATU4rMrCLMZOQygN7y835lo6VOBRVyj5mJE9QPKypJrXNdC/
    groups: sudo,admin
    lock_passwd: false
    system: false
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh-authorized-keys:
      - {{ ssh_key }}
packages:
  - python-minimal
apt:
  disable_suites:
    - backports
runcmd:
  - [ sh, -c, "echo 127.0.1.1 {{ fqdn }} {{ hostname }} >> /etc/hosts" ] 
{% if 'ip-address' in iface %}
  - [ sh, -c, "echo {{ iface['ip-address'] }} {{ fqdn }} {{ hostname }} >> /etc/hosts" ]
{% for ns in iface.nameservers %}
  - [ sh, -c, "echo nameserver {{ ns }} >> /etc/resolv.conf" ]
{% endfor %}
{% endif %}
  - [ sh, -c, "sed -i -e '/deb-src/d' /etc/apt/sources.list" ]
  - [ sh, -c, "echo 'ARRAY <ignore> devices=/dev/sda' >> /etc/mdadm/mdadm.conf" ]
