---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ rke_hello_namespace }}

---
apiVersion: v1
kind: Service
metadata:
  name: hello
  namespace: {{ rke_hello_namespace }}
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: hello

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello
  namespace: {{ rke_hello_namespace }}
spec:
  selector:
    matchLabels:
      app: hello
  replicas: 2
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
        - name: hello
          image: paulbouwer/hello-kubernetes:1.7
          ports:
            - containerPort: 8080

---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  namespace: {{ rke_hello_namespace }}
  name: hello
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "{{ rke_certmanager_issuer_name }}"
spec:
  tls:
    - hosts:
      - "hello.{{ rke_base_domain }}"
      secretName: "hello.{{ rke_base_domain }}"
  rules:
    - host: hello.{{ rke_base_domain }}
      http:
        paths:
          - backend:
              serviceName: hello
              servicePort: 80
