Listen 80
Listen 443

<VirtualHost *:80>
  ServerName {{ proxy_servername }}

  ProxyRequests On
  ProxyPreserveHost On

  <LocationMatch "^/websocket/">
    Require all granted
    ProxyPass ws://{{ proxy_backend_host }}:{{ proxy_backend_port }}/websocket/
    ProxyPassReverse ws://{{ proxy_backend_host }}:{{ proxy_backend_port }}/websocket/
  </LocationMatch>

  <Location />
    Require all granted
    ProxyPass http://{{ proxy_backend_host }}:{{ proxy_backend_port }}/
    ProxyPassReverse http://{{ proxy_backend_host }}:{{ proxy_backend_port }}/
  </Location>

  ErrorLog ${APACHE_LOG_DIR}/revproxy-error.log
  CustomLog ${APACHE_LOG_DIR}/revproxy-access.log combined
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ proxy_servername }}

  ProxyRequests On
  ProxyPreserveHost On
  SSLEngine On
  SSLProxyEngine On
  SSLCertificateFile {{ awx_pem_path }}
  SSLCertificateKeyFile {{ awx_key_path }}

  <LocationMatch "^/websocket/">
    Require all granted
    ProxyPass http://{{ proxy_backend_host }}:{{ proxy_backend_port }}/websocket/
    ProxyPassReverse http://{{ proxy_backend_host }}:{{ proxy_backend_port }}/websocket/
    RequestHeader set Connection "upgrade   
    RequestHeader set Upgrade
  </LocationMatch>

  <Location />
    Require all granted
    ProxyPass http://{{ proxy_backend_host }}:{{ proxy_backend_port }}/
    ProxyPassReverse http://{{ proxy_backend_host }}:{{ proxy_backend_port }}/
  </Location>

  ErrorLog ${APACHE_LOG_DIR}/revproxy-error.log
  CustomLog ${APACHE_LOG_DIR}/revproxy-access.log combined
</VirtualHost>
