Listen {{ proxy_port | default('80') }}

<VirtualHost {{ proxy_virtualhost }}>
  ServerAdmin {{ proxy_admin }}
  ServerName {{ proxy_servername }}

  ProxyRequests On
  ProxyPreserveHost On

  ProxyPass "/" "balancer://revproxy/" 
  ProxyPassReverse "/" "balancer:://revproxy/"

  <Proxy "balancer://revproxy">
    {% for member in proxy_backend_members %}
    BalancerMember "{{ proxy_backend_proto | default('http') }}://{{ member }}:{{ proxy_backend_port | default('80') }}"
    {% endfor %}
    ProxySet lbmethod={{ proxy_lbmethod | default('bytraffic') }}
  </Proxy>

  ErrorLog ${APACHE_LOG_DIR}/revproxy-error.log
  CustomLog ${APACHE_LOG_DIR}/revproxy-access.log combined
</VirtualHost>
