[Unit]
Description=Uchiwa - dashboard for Sensu
After=syslog.target
After=network.target
[Service]
Type=forking
PIDFile=/run/uchiwa.pid
ExecStart=/sbin/start-stop-daemon -b -S -d {{ home }} -m -p /run/uchiwa.pid -c {{ user }} -g {{ group }} -x {{ bin }} -- -c {{ conf }}
ExecStop=/sbin/start-stop-daemon -K -p /run/uchiwa.pid
[Install]
WantedBy=multi-user.target
