[Unit]
Description=Uchiwa - dashboard for Sensu

[Service]
User={{ user }}
Group={{ group }}
ExecStart={{ bin }} -c {{ conf }} -p {{ assets }}
KillMode=process
Restart-on=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target
