#cloud-config
users:
  - name: {{ ssh_user }}
    passwd: $6$FLtrHwDCFhzzNmDd$JZPl0qz0ksLPOf/oz3IJylAbt4JhOPC6J1zJ72ATU4rMrCLMZOQygN7y835lo6VOBRVyj5mJE9QPKypJrXNdC/
    groups: sudo,admin
    lock_passwd: false
    system: false
    shell: /bin/bash
    ssh-authorized-keys:
      - {{ ssh_key }}
  - name: ansible
    passwd: $6$FLtrHwDCFhzzNmDd$JZPl0qz0ksLPOf/oz3IJylAbt4JhOPC6J1zJ72ATU4rMrCLMZOQygN7y835lo6VOBRVyj5mJE9QPKypJrXNdC/
    groups: sudo
    lock_passwd: false
    system: false
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh-authorized-keys:
      - {{ ssh_key }}

