---
apiVersion: v1
kind: Secret
metadata:
  name: route53-credentials-secret
  namespace: cert-manager
type: Opaque
data:
  secret-access-key: "{{ rke_certmanager_route53_accesskeysecret | b64encode }}"

---
apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: "{{ rke_certmanager_issuer_name }}"
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: {{ rke_certmanager_acme_email }}
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
      - selector:
          dnsZones:
            - "{{ rke_base_domain }}"
        dns01:
          route53:
            region: us-east-1
            accessKeyID: "{{ rke_certmanager_route53_accesskeyid }}"
            secretAccessKeySecretRef:
              name: route53-credentials-secret
              key: secret-access-key

