[Unit]
Description={{ description }}
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill {{ boxname }}
ExecStartPre=-/usr/bin/docker rm {{ boxname }}
ExecStartPre=/usr/bin/docker pull {{ image }}
ExecStart= /usr/bin/docker run --name {{ boxname }} {{ image }} {{ runargs }}

[Install]
WantedBy=multi-user.target
