auto {{ iface.name }}
iface {{ iface.name }} inet {{ iface.method }}
{% if 'ip-address' in iface %}
    address {{ iface['ip-address'] }}
{% endif %}
{% if 'prefix' in iface %}
    netmask {{ iface['prefix'] }}
{% endif %}
{% if 'gateway' in iface %}
    gateway {{ iface['gateway'] }}
{% endif %}
