auto {{ iface.name }}
iface {{ iface.name }} inet {{ iface.method }}
{% if iface.address is defined %}
    address {{ iface.address }}
{% endif %}
{% if iface.netmask is defined %}
    netmask {{ iface.netmask }}
{% endif %}
{% if iface.gateway is defined %}
    gateway {{ iface.gateway }}
{% endif %}